* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.flex-row, .productos-destacados, .main-nosotros .gupo-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.flex-column, .productos-destacados .div-productos, .main-nosotros .indiv-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.button {
  padding: 5px;
  /*background-color: $royal-blue;*/
  /*color: $ghost-white;*/
  border-radius: 15px; }

.text-center {
  text-align: center;
  padding: 10px; }

.margin-arriba-abajo {
  margin-top: 100px;
  margin-bottom: 30px; }

.productos-destacados {
  /*display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;*/
  width: 100%; }
  .productos-destacados .div-productos {
    width: 300px;
    font-family: sans-serif;
    /*box-shadow: 1px 1px 5px 2px #51515195;
        border-radius: 20px;*/
    padding: 10px;
    margin: 10px; }
    .productos-destacados .div-productos img {
      width: 300px; }
      .productos-destacados .div-productos img:hover {
        background-color: blue; }
    .productos-destacados .div-productos button {
      padding: 5px 15px;
      margin: 15px;
      border-radius: 5px;
      background-color: #333;
      color: white;
      font-family: sans-serif;
      width: 150px;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      transition: 0.3s ease-in-out; }
      .productos-destacados .div-productos button:hover {
        transform: scale(1.05); }
    .productos-destacados .div-productos img {
      width: 300px; }
    .productos-destacados .div-productos p.card-text {
      height: 210px; }
    .productos-destacados .div-productos h6.card-subtitle {
      font-weight: 700;
      color: #003466 !important;
      padding: 10px 0; }

nav {
  width: 100%;
  background-color: rgba(31, 39, 73, 0.97) !important;
  color: #2C3E50; }
  nav img.img-logo {
    width: 180px; }
  nav #navbarToggler {
    text-align: center; }
  nav .navbar-collapse {
    margin-left: 300px; }
  nav .navbar-brand {
    background-color: firebrick;
    margin-top: 0;
    margin-left: 100px;
    padding: 15px 0;
    position: absolute; }

h1 {
  width: 100%;
  color: #c0c4fc;
  padding: 10px 30px;
  margin-bottom: 30px;
  color: #13385e;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Gotham Rounded;
  letter-spacing: 0; }

.footer {
  color: white;
  background-color: rgba(31, 39, 73, 0.97);
  margin-top: 50px;
  padding: 50px 0; }
  .footer img {
    width: 400px; }

.main-preguntas .grid-tarjetas {
  display: grid;
  margin: 30px 50px;
  grid-template-areas: "img1 img2 img3 img4 img5 img6 img7" "img8 img9 img10 img11 img12 img13 img14";
  width: 100%;
  grid-template-columns: repeat(7, 110px);
  grid-template-rows: repeat(2, 75px); }

@media (max-width: 990px) {
  .main-preguntas .grid-tarjetas {
    display: grid;
    grid-template-areas: "img1 img2 img3 img4"  "img5 img6 img7 img8"  "img9 img10 img11 img12"  "img13 img13 img14 img14";
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 75px); } }

@media (max-width: 520px) {
  .main-preguntas .grid-tarjetas {
    display: grid;
    grid-template-areas: "img1 img2" "img3 img4"  "img5 img6" "img7 img8"  "img9 img10" "img11 img12"  "img13 img14";
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(7, 75px); } }

.main-preguntas .img-visa {
  grid-area: img1; }

.main-preguntas .img-master {
  grid-area: img2; }

.main-preguntas .img-american {
  grid-area: img3; }

.main-preguntas .img-diners {
  grid-area: img4; }

.main-preguntas .img-banelco {
  grid-area: img5; }

.main-preguntas .img-cabal {
  grid-area: img6; }

.main-preguntas .img-naranja {
  grid-area: img7; }

.main-preguntas .img-shopping {
  grid-area: img8; }

.main-preguntas .img-mpago {
  grid-area: img9; }

.main-preguntas .img-argencard {
  grid-area: img10; }

.main-preguntas .img-nativa {
  grid-area: img11; }

.main-preguntas .img-cencosud {
  grid-area: img12; }

.main-preguntas .img-pfacil {
  grid-area: img13; }

.main-preguntas .img-rapi {
  grid-area: img14; }

.main-preguntas .accordion-button,
.main-preguntas .accordion-button:not(.collapsed) {
  background-color: rgba(31, 39, 73, 0.97);
  color: white; }

.main-preguntas .accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.main-nosotros .gupo-nosotros {
  width: 100%;
  /*display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        margin: 50px 0;*/ }

.main-nosotros .indiv-nosotros {
  width: 48%;
  margin: 1%;
  /*display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;*/ }
  .main-nosotros .indiv-nosotros img {
    width: 100%; }

.main-nosotros h3 {
  margin: 15px 0;
  font-size: 30px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  width: 100%;
  color: #2C3E50; }

.main-nosotros h2 {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 5px; }

.main-nosotros p.buscamos {
  margin: 15px;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px; }

.main-index .carousel {
  /*width: 90%;*/ }
  .main-index .carousel .carousel-item {
    height: 500px;
    min-height: 300px;
    background: no-repeat center bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .main-index .carousel .carousel-item .active {
      display: flex; }
  .main-index .carousel .carousel-control-prev-icon,
  .main-index .carousel .carousel-control-next-icon,
  .main-index .carousel .sr-only,
  .main-index .carousel .sr-onlyn {
    /*filter: invert(108%);*/
    font-weight: bold; }
  .main-index .carousel .carousel-caption {
    background-color: #ABB2B9;
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
    padding: 10px 50px; }
    .main-index .carousel .carousel-caption h5 {
      color: #2C3E50;
      text-align: left;
      font-size: xx-large;
      width: 100%;
      opacity: initial;
      font-weight: bold; }
    .main-index .carousel .carousel-caption p {
      color: #2C3E50;
      text-align: left;
      font-size: x-large;
      width: 100%;
      opacity: initial; }
