.productos-destacados {
    /*display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;*/

    @extend .flex-row;
    width: 100%;
    .div-productos {
        @extend .flex-column;

        width: 300px;
        font-family: sans-serif;
        /*box-shadow: 1px 1px 5px 2px #51515195;
        border-radius: 20px;*/
        padding: 10px;
        margin: 10px;
        img  {
            width: 300px;
            &:hover{
                background-color: blue;
            }
        }
        button {
            padding: 5px 15px;
            margin: 15px;
            border-radius: 5px;
            background-color: #333;
            color: white;
            font-family: sans-serif;
            width: 150px;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            transition: 0.3s ease-in-out;
            &:hover{
                transform: scale(1.05);
            }
        }
        img {
            width: 300px;
        }
        p.card-text {
            height: 210px;
        }
        h6.card-subtitle  {
            font-weight:700 ;
            color: #003466 !important;
            padding: 10px 0;
        }
    }
}