.main-nosotros {
    .gupo-nosotros {
        width: 100%;

        /*display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        margin: 50px 0;*/
        
        @extend .flex-row;
    }
    .indiv-nosotros {
        width: 48%;
        margin: 1%;

        /*display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;*/
        @extend .flex-column;
        img {
           width: 100%;
        }
    }

    h3 {
        margin: 15px 0;
        font-size: 30px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        width: 100%;
        color: #2C3E50;
    }
    h2 {
        background-color: #333;
        color: white;
        text-align: center;
        width: 100%;
        padding: 10px 5px;
    }

    p.buscamos {
        margin: 15px;
        font-size: 18px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
    }
}